* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 2em;
}
div {
  top: 50px;
}

h2 {
  position: relative;
  width: 100px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  float: right;
  right: -2px;
  top: -2px;
  margin: 0px;
  font-size: 120%;
}

section {
  position: relative;
  background-color: gray;
  box-sizing: margin-box;
  width: 30.87%;
  border-style: solid;
  border-width: 2px;
  margin: 0px;
  font-size: 18px;
  height: 173px;
  overflow: hidden;
  float: left;
  margin: 10px;
}

#c1 {
  background-color: salmon;
}
#c2 {
  background-color: red;
  color: white;
  border-color: black;
}
#c3 {
  background-color: #ffcc66;
}
p {
  padding: 5px;
}
@media (min-width: 768px) and (max-width: 991px) {
  #s3 {
    display: block;
    clear: both;
    width: 96%;
    margin-right: 10px;
  }
  section {
    margin: 10px;
    width: 46.74%;
  }
}
@media (max-width: 767px) {
  section {
    display: block;
    float: none;
    clear: both !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 60%;
  }
}
